WPFClient/Connected Services/ServiceEmployeeReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Employees.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployees_GetDepartmens_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmens" />
  </wsdl:message>
  <wsdl:message name="IEmployees_GetDepartmens_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmensResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployees_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployees_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployees">
    <wsdl:operation name="GetDepartmens">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployees/GetDepartmens" message="tns:IEmployees_GetDepartmens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployees/GetDepartmensResponse" message="tns:IEmployees_GetDepartmens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployees/GetEmployees" message="tns:IEmployees_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployees/GetEmployeesResponse" message="tns:IEmployees_GetEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployees" type="tns:IEmployees">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartmens">
      <soap:operation soapAction="http://tempuri.org/IEmployees/GetDepartmens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployees/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesService">
    <wsdl:port name="BasicHttpBinding_IEmployees" binding="tns:BasicHttpBinding_IEmployees">
      <soap:address location="http://localhost:8080/EmployeesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>